body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #BAC4C8;
}

.app{
  max-width: 900px;
  margin: 0 auto;
  padding: 24px;
}

.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
} 


.nav-links{
  display: flex;
  gap: 10px;
}

button{
  padding: 8px 14px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
}

button.active{
  border-color:black;
  font-weight: bold;
}

.content{
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  width: 800px;
} 